// roboto
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// josephin sans
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

// nunito
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// fun font
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

$defaultFont: 'nunito', sans-serif;
$titleFont: 'Josefin Sans', 'Nunito', 'Roboto', sans-serif;
$funFont: 'Luckiest Guy', 'Roboto', sans-serif;


h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: $titleFont;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    margin-top: 5%;
    text-shadow: 0 4px #42b983;
}

h2 {
    font-size: 3em;
    margin-top: 3em;
}

h3 {
    font-size: 2em;
    margin-top: 2em;
}

h4 {
    font-size: 1.5em;
    margin-top: 1.4em;
}

h2, h3 {
    text-align: left;
}

p, ul, li {
    color: #42b983;
    font-family: $defaultFont;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.txt-center {
    text-align: center;
}