$smallScreen: 768px; // Small devices (landscape phones)
$mediumScreen: 992px; // Medium devices (tablets)
$largeScreen: 1200px; // Large devices (desktop)
$xlargeScreen: 1600px; // Extra large devices (large desktops,..)
