@import './modules/color.scss';
@import './modules/font.scss';


html {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 90%;
  margin: 0;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  header {
    // flex-shrink: 0;
    // z-index: 99;
    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  main {
    // flex-grow: 1;
    // overflow: auto;
  }
  
  footer {
    // flex-shrink: 0;
    padding: 2% 0 1% 0;
  }
}


a {
  color: $green;
}

/* CSS BUTTON */
.button {
  border: none;
  background-color: $green;
  border-color: darken($color: $green, $amount: 20);
  color: white;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 3px;
  margin: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  transition: text-shadow 0.3s ease;
}

.button:active {
  position: relative;
  top: 1px;
  border-bottom-width: 2px;
}

.button:hover {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, .3)
}

table {
  font-family: $defaultFont;
  font-size: 1.5em;
}